
*{
    box-sizing: border-box;
    max-width: 900px;
    margin: auto;
    padding: 0;

}


#logo {
margin-top: 35px;
   text-align: center;

}

#logo2 {
    width: 350px;
    height: auto;
}

nav {
    width: 300px;
    text-align: center;
    border-top: .1px solid gray ;
    border-bottom: .1px solid gray ;
    padding-bottom: 10px;
    padding-top: 10px;
}

#nav_bar li {
    display: inline;

}
#nav_bar a {
    text-decoration: none;
    color: orange;
    font-size: 20px;
   font-weight: 600;
}

#space {
    margin-right: 30px;
    margin-left: 30px;
}
#my_picture {
    text-align: center;
}
#tim {
    width: 300px;
    height: 300px;
    margin-top: 25px;
    margin-bottom: 20px;
    
}

#heading_about {
    font-family: 'Lato', sans-serif;
    
    
    color: orange;
    text-align: center;
    
}


#content {
    width: 700px;
    font-family: 'Lato', sans-serif;
    line-height: 2.1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#content_about {
    width: 700px;
    font-family: 'Lato', sans-serif;
    line-height: 2.1em;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

footer {

    width: 900px;
    border-top: .25px solid;
    margin-top: 100px; }
   